<!doctype html>
<html>

<head>

<title>Lucas BMI</title>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet"  href="{{ url_for('static', filename= 'style.css')}}">
</head>



<body>
<div id="background-image">
    <div class="content" style="background-color: rgb(245,245,245,0.4); height: 100%;">

<h1 align="center"><u>BMI Calculator</u></h1>


<div align="center" >
    <form class="pure-form" method="POST" action="/luca">
        <br>
        <label for="weight">Enter Weight in (Kg)</label><br>
        <input type="text" id='weight' name="weight" value="{{ weight}}"placeholder="eg:56"><br>
        <br>
        <label for="height">Enter Height in (cm)</label><br>
        <input type="text" id='height' name="height" value="{{ height }}" placeholder="eg:126" ><br>

        <br><button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button><br>


         <br><button type="submit" name="reset" value="Reset" class="pure-button pure-button-primary" >Reset</button><br>

</form>




</div>
<div border="auto"><br>
  <div class="answer-box">
    {% if bmi %}
      <p align="center">Your BMI is <b> {{ bmi }}</b></p><br>
      {% if bmi > 40:  %}
        <p align="center"><u>you are morbidly obese, consider losing weight</u></p><br>
      {% endif %}
    {% endif %}
  </div>
</div>
<footer class="footer">
    <p align="center">Copyright &copy; 2023 Lucas BMI</p>
</footer>
</div>

</div>


</body>

</html>
